{% extends "core/base.html" %}

{% block content %}

<h2 class="text-xl font-semibold mb-4">My Settings</h2>

<p><strong>User:</strong> {{ profile.user }}</p>
<p><strong>Location:</strong> {{ profile.location }}</p>
<p><strong>Timezone:</strong> {{ profile.timezone }}</p>

<form action="{% url 'edit_my_settings' %}" method="get">
  <button
    type="submit"
    class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow-sm transition">
    Edit
  </button>
</form>


{% endblock %}


